#root {
  margin: 0 auto; 
  text-align: center;
  width: 100%;
}

body {
  background-color: #674419;
}

.Header {
  width: 100%;
  background-color: #38a8a6;
  color:#785224;
  padding: 2em;
  margin-bottom: 20px;
}

.question-container {
  width: 70%;
  color:#e9b442;
  border: 2px solid #e9ba54;;
  padding: 30px;
  border-radius: 10px;
  margin: 0 auto; //centers the box
}

section > header {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1 {
    font-size: 2.3em;
    text-align: justify;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 100px;
  }
  h2 {
    display: flex;
    align-items:end;
    gap: 1em;
    margin-left: 30px;
  
    img {
      height: 200px;
    }
    margin-bottom: 30px;
  }
}

main {
  width: 100%;
  display: flex;
  justify-content: center; 
  color:#56a6ad;
}


.ReplyListItem {
  width: 90%;
  display: grid;
  align-items: center;
  // text-align: flex;
  border: 2px solid #38a8a6;
  border-radius: 10px;
  margin: 0 auto; //centers the box
  margin-bottom: 20px;
  padding: 10px;
  gap: 1em;
  font-size: 1.5em;
  grid-template-areas: 
  "profile reply"
  "name reply"
  ;
  img{
    grid-area: profile;
    height: 300px; 
  }
  p:last-of-type {
    grid-area: name;
    text-align: left;
    font-size: 1.2em;
  }
  p:first-of-type {
    font-size: 1.4em;
    grid-area: reply;
    text-align: left;
  }
}

.Replybutton-style{
  color: #f7f1e4;
  background-color: #59968d;
  font-size: 0.8em;/* Adjust the font size to make the button smaller */
  padding: 5px 10px;/* Adjust padding for smaller size */
}

.ReplyForm {
  height: 250px;
  padding:1em;
  background-color: #38a8a6;
  input{
    font-size:2em ;
    margin: 1em;
    padding: 1em;
    color:black;
    background-color: #d1be94;
  }
  button{
     font-size:2em ;
     margin: 1em;
     padding: 1em;
     background-color: rgb(126, 88, 16);
     
  }
}

.ReplyInput {
  width: 60%;
  height: 55%;
}