#root {
  margin: 0 auto; 
  text-align: center;
  width: 100%;
}

.Header {
  width: 100%;
  background-color: #bada55;
  color:#000;
  padding: 2em;
}

section > header {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h2 {
    display: flex;
    align-items: center;
    gap: 1em;
  
    img {
      height: 100px;
    }
  }
}
.ReplyListItem {
  display: grid;
  gap: 1em;
  grid-template-areas: 
  "profile reply"
  "name reply"
  ;
  img{
    grid-area: profile;
    height: 200px; 
  }
  p:last-of-type {
    grid-area: name;
  }
  p:first-of-type {
    grid-area: reply;
  }
}

.ReplyForm {
  padding:1em;
  background-color: #38a8a6;
  input,
  button{
     font-size:1.2em ;
     margin: 1em;
     padding: 1em;
  }
}